/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #343a40;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#top {
    background-color: transparent;
    margin:0%;
    border-radius: 0 !important;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}
#nav2 {
    margin: 0%;
}

#main {
    background-color: #3b506c;
    margin:0%;
    min-height:92%;
}

.navbar {
    background-color: #3b506c;
    border-radius: 0 !important;
    margin:0%;
    z-index: 0;
} 

.navbar-brand {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
    font-size: 20px;
}

.nav-item {
    margin:1%;
}

.nav-link {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
    font-size: 20px;
}

.introduction {
    text-align: right; 
    margin-top:10%;
    margin-right:10%;
    text-shadow: 1px 1px #95aac9;
}

.title {
    font-size: 80px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    margin-top:10%;
}

.subtitle {
    font-size: 30px;
    color: #17a2b8;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.text {
    font-size: 20px;
    color: #cfd2da;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
    margin: 0%;
}

.caption {
    font-size: 10px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
}

#standard {
    text-align: center; 
    min-height: 120%;
    margin:0%;
}

#secondary {
    text-align: center; 
    min-height: 20%;
    margin:0%;
}


.green {
    background-color: #007b5e;
}

.white {
    background-color: #f8f9fa;
}

.blue {
    background-color: #3b506c; 
}

::ng-deep .mat-tab-label-active{
    background-color: #343a40;
 }

::ng-deep .mat-tab-label{
    color: white;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
 }
 
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
   flex-basis: 0;
 }
 
.example-headers-align .mat-expansion-panel-header-description {
   justify-content: space-between;
   align-items: center;
 }
