<div class="col-lg-12 col-md-12 col-sm-0 mx-auto" style="text-align: center; min-height: 120%;">
           <h1 class="title" style="margin-top:10%;">My tools</h1> 
        <div class="row" style="margin: 10%;">
            <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
               <h2 class="subtitle">Frameworks</h2> 
               <p class="text">Django</p>
               <p class="text">Flask</p>
               <p class="text">Angular</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
                <h2 class="subtitle">Database</h2> 
                <p class="text">MySQL</p>
                <p class="text">PostgreSQL</p>
                <p class="text">Google Firebase</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
                <h2 class="subtitle">Languages</h2> 
                <p class="text">Python</p>
                <p class="text">javaScript</p>
                <p class="text">HTML/CSS</p>
            </div>
        </div>
        
</div>

