
<div class="col-lg-12 col-md-12 col-sm-12 mx-auto" style="text-align: center; min-height: 120%;background-color: #3b506c;">
<div class="container">
<h1 class="title">Portfolio</h1>

<mat-tab-group style="margin: 10%; color: white;">
  <mat-tab label="noyardstick.org" class="text">
    <h2 class="subtitle">Tools: Django, Django REST Framework, Angular,
        PostgreSQL</h2>
    <p class="text">The goal of this project was to build a responsive website
        , using the old WordPress website and its database.
        The website has a subscription system, comments, flash
        messages, search system, and many useful plugins, such
        as Disqus, Toaster, etc.
        On the back-end the website has RESTful API based on
        Django REST Framework, on the front-end Angular 6.
        The interaction between front-end and back-end happens
        through module service.ts that is imported into all
        other components.
        To improve the performance I went for Ahead-of-Time
        compilations.
        The material is stored with PostgreSQL.
        In the beginning I developed my own Custom User
        Model with Django, but eventually chose Disqus plugin,
        as it allows for easy authorisation with Facebook and
        Twitter.</p>
  </mat-tab>
  <mat-tab label="nadiakoch.com">
    <h2 class="subtitle">Tools: Django, JQuery</h2>
    <p class="text">The client wanted to have a simple and responsive website, that will look stunning both
        on PC, and mobile devices with an embedded Instagram feed. For integration of Instagram
        I chose Lightwidget. There are fading effects on the website, that were achieved
        with JQuery. Later on, there will be an online store of furniture added to the website.</p>
  </mat-tab>
  <mat-tab label="turutin.net">
    <h2 class="subtitle">Tools: Flask, MySQL</h2>
    <p class="text">I needed my personal website where I can publish posts. In this case my main focus was
        on back-end, that’s why I didn’t employ any JavaScript framework. I chose Flask as it
        gave me a great degree of freedom and allowed for experiments. I developed everything
        from the ground up. It has comments, login/register system, email service, etc.</p>
  </mat-tab>
  <mat-tab label="fpy.herokuapp.com">
    <h2 class="subtitle">Tools: Flask, Bootstrap</h2>
    <p class="text">That was my first website that I built. The choice fell on
        Flask.
        The website asks for a stock ticker (e.g. AAPL for Apple,
        TSLA for Tesla), then uses Quandl to get request time
        series data, processes with numpy and finally visualizes
        it with pygal.
        The website has login/register system and was built with
        RESTful principles in mind.
        Pygal is supported only in Chrome.</p>
  </mat-tab>
</mat-tab-group>
</div>
</div>