.navbar {
    background-color: #3b506c;
    border-radius: 0 !important;
    margin:0%;
    position: sticky;
  } 

.nav-item {
    margin:1%;
}
.nav-link {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
    font-size: 20px;
  }