<div class="col-lg-12 col-md-12 col-sm-0 mx-auto" style="text-align: center; min-height: 120%; background-color: #3b506c;">
    <h1 class="title" style="margin-top:10%;" >Principles</h1>
    <div class="row" style="margin: 10%;">
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <h2 class="subtitle">RESTful</h2>
          <p class="text">Some text</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <h2 class="subtitle">Responsive</h2>
          <p class="text">Some text</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <h2 class="subtitle">Agile</h2>
          <p class="text">Some text</p>
        </div>
    </div>
</div>
