<div class="jumbotron jumbotron-fluid">
    <div class="col-lg-12 col-md-12 col-sm-0 mx-auto" style="text-align: center;">
        <h1>My tools</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
              <h2>Frameworks</h2> 
               <p class="lead">Django</p>
               <p class="lead">Flask</p>
               <p class="lead">Angular</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
                <h2>Database</h2> 
                 <p class="lead">MySQL</p>
                 <p class="lead">PostgreSQL</p>
                 <p class="lead">Google Firebase</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
                  <h2>Languages</h2> 
                   <p class="lead">Python</p>
                   <p class="lead">javaScript</p>
                   <p class="lead">HTML/CSS</p>
                </div>
        </div>
    </div>
  </div>
