<nav class="navbar navbar-inverse navbar-expand-md">
                      
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav">

    <li id="link"
         role="presentation">
      <a routerLink="/blog">Home</a>
    </li>

    <li id="link" 
        role="presentation" >
      <a routerLink="/blog/about">About</a>
    </li>

    <li id="link" 
        role="presentation" >
      <a routerLink="/blog/admin">Admin</a>
    </li>

    <li id="link" 
      role="presentation" >
      <a routerLink="/blog/login">Login</a>
    </li>
    <li id="link" 
        role="presentation" >
      <a routerLink="/blog/register">Register</a>
    </li>

  </ul>
</div>  
</nav>