  <div class="col-lg-12 col-md-12 col-sm-12 mx-auto" style="text-align: center; min-height: 120%; background-color: #f8f9fa;">
    <h1 class="title" style="color: #3b506c;">How I built this website</h1>
    <div class="row" style="margin: 10%;">
      <div class="col-lg-3 col-md-3 col-sm-12 mx-auto">
        <h2 class="subtitle">MongoDB</h2>
        <p class="text">Some text</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 mx-auto">
        <h2 class="subtitle">Express</h2>
        <p class="text">Some text</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 mx-auto">
        <h2 class="subtitle">Angular</h2>
        <p class="text">Some text</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 mx-auto">
        <h2 class="subtitle">Node.js</h2>
        <p class="text">Some text</p>
      </div>
    </div>
  </div>
